@import '@/app/variables';

.carousel {
  width: 100%;
  display: flex;
  gap: 24px;
  margin-left: $container-pad-mobile;
  padding-left: 0;
  padding-right: $container-pad-mobile;
  overflow-x: auto;
  overflow-y: hidden;
  opacity: 1;
  box-sizing: border-box;
  align-items: stretch;

  @media (min-width: $breakpointDesktop) {
    margin-left: 0;
    padding-right: 0;
    overflow-x: visible;
  }
}
