// Variables
$color-black: #000000;
$color-bg-grey: #fafafa;
$font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
  Arial, sans-serif;

// Desktop styles
.desktop {
  width: 100%;
  height: 265px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-bg-grey;
  gap: 40px;
  opacity: 1;
  box-sizing: border-box;
}

.title {
  margin: 0;
  width: 665px;
  height: 35px;
  font-family: $font-family;
  font-weight: 100;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;
  opacity: 1;
  box-sizing: border-box;
}

.iconsContainer {
  width: 448px;
  height: 127px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  opacity: 1;
  box-sizing: border-box;
}

.iconItem {
  width: 136px;
  height: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  box-sizing: border-box;
}

.icon {
  width: 77px;
  height: 60px;
  display: block;
  object-fit: contain;
  opacity: 1;
  box-sizing: border-box;
}

.label {
  width: 136px;
  height: 35px;
  font-family: $font-family;
  font-weight: 100;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: $color-black;
  opacity: 1;
  box-sizing: border-box;
}

// Mobile styles
.mobile {
  width: 100%;
  height: 584px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-bg-grey;
  gap: 40px;
  opacity: 1;
  box-sizing: border-box;
}

.mobile .title {
  width: 275px;
  height: 35px;
  font-size: 18px;
  line-height: 35px;
}

.mobile .iconsContainer {
  width: 136px;
  height: 468px;
  flex-direction: column;
  gap: 40px;
}

.mobile .iconItem {
  width: 136px;
  height: 127px;
}
