@import '@/app/variables';

.section {
  width: 100%;
  margin: 20px 0 48px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $breakpointDesktop) {
    max-width: $container-max;
    margin: 50px auto 48px;
    align-items: center;
    gap: 30px;
  }
}

.title {
  display: block;
  padding-left: $container-pad-mobile;
  font-family: $font-family;
  font-weight: $fontWeightThin;
  font-size: $fontSizemobileH3;
  text-transform: uppercase;
  color: $color-black;
  margin: 0;

  @media (min-width: $breakpointDesktop) {
    display: none;
  }
}

.cardsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 0 $container-pad-mobile;

  @media (min-width: $breakpointDesktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 31px;
    padding: 0;
    align-items: stretch;
  }
}

.cardWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
