// Variables
$color-black: #000000;
$font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
  Arial, sans-serif;

// Desktop styles
.desktop {
  width: 1185px;
  height: 924px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  opacity: 1;
  box-sizing: border-box;
}

// Upper section
.upperSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
  opacity: 1;
  box-sizing: border-box;
}

.title {
  margin: 0;
  width: 100%;
  height: 35px;
  font-family: $font-family;
  font-weight: 200;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;
  opacity: 1;
  box-sizing: border-box;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 65px;
  align-items: flex-start;
  opacity: 1;
  box-sizing: border-box;
}

.imageContainer {
  width: 478px;
  height: 372px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  opacity: 1;
  box-sizing: border-box;
}

.chefImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  display: block;
  opacity: 1;
}

.nameOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 478px;
  height: 78px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  box-sizing: border-box;
}

.chefFullName {
  font-family: $font-family;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: $color-black;
  opacity: 1;
}

.descriptionContainer {
  width: 642px;
  height: 255px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  box-sizing: border-box;
}

.description {
  width: 100%;
  font-family: $font-family;
  font-weight: 100;
  font-size: 24px;
  line-height: 1.5;
  text-align: justify;
  color: $color-black;
  opacity: 1;
  box-sizing: border-box;
}

// Lower section
.lowerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  opacity: 1;
  box-sizing: border-box;
}

.restaurantsTitle {
  margin: 0;
  width: 100%;
  height: 35px;
  font-family: $font-family;
  font-weight: 200;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 1.25px;
  text-align: left;
  text-transform: uppercase;
  color: $color-black;
  opacity: 1;
  box-sizing: border-box;
}

.cardsContainer {
  width: 100%;
  opacity: 1;
  box-sizing: border-box;
}

// Mobile styles
.mobile {
  width: 100%;
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 0;
  opacity: 1;
  box-sizing: border-box;
}

.upperSectionMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-bottom: 0;
  opacity: 1;
  box-sizing: border-box;
}

.mobile .title {
  width: 186px;
  height: 35px;
  margin: 0;
  font-size: 18px;
  line-height: 35px;
  text-align: left;
}

.contentWrapperMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 25px;
  opacity: 1;
  box-sizing: border-box;
}

.mobile .imageContainer {
  width: 335px;
  height: 262px;
  align-self: center;
}

.nameOverlayMobile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 335px;
  height: 51px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  box-sizing: border-box;
}

.chefFullNameMobile {
  font-family: $font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: $color-black;
  opacity: 1;
}

.mobile .descriptionContainer {
  width: 100%;
  height: auto;
}

.mobile .description {
  width: 100%;
  font-family: $font-family;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  color: $color-black;
  opacity: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lowerSectionMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 0;
  opacity: 1;
  box-sizing: border-box;
}

.mobile .restaurantsTitle {
  width: auto;
  height: auto;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}
