// Variables
$color-white: #ffffff;
$color-gray: #979797;
$header-height: 46px;
$spacing-md: 20px;
$icon-size-desktop: 24px;
$icon-size-mobile: 20px;

.header {
  width: 100%;
  height: $header-height;
  background-color: $color-white;
  border-bottom: 0.2px solid $color-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $spacing-md;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
}

.hamburgerButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $icon-size-desktop;
  height: $icon-size-desktop;
  position: absolute;
  top: 11px;
  left: $spacing-md;

  img {
    width: $icon-size-desktop;
    height: $icon-size-desktop;
  }

  &:hover {
    opacity: 0.7;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  cursor: pointer;

  img {
    width: 32.93px;
    height: 32px;
  }
}

.rightSection {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  position: absolute;
  top: 13px;
  right: $spacing-md;
  width: 100px;
  height: 20px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $icon-size-mobile;
  height: $icon-size-mobile;

  img {
    width: $icon-size-mobile;
    height: $icon-size-mobile;
  }

  &:hover {
    opacity: 0.7;
  }
}
