// Variables
$spacing-zero: 0;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: $spacing-zero;
  padding: $spacing-zero;
  width: 100%;
}

.main {
  flex: 1;
  margin: $spacing-zero;
  padding: $spacing-zero;
  width: 100%;
}
