.footer {
  width: 100%;
  height: 202px;
  background-color: white;
  border-top: 0.2px solid #979797;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 32px;
}

.container {
  width: 100%;
  padding-left: 19px;
}

.links {
  width: 126px;
  height: 146px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.link {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 100; /* Thin */
  color: #000000;
  text-decoration: none;
  height: 22px;
  transition: opacity 0.2s;
  cursor: default;
}

.link:hover {
  opacity: 0.7;
}
