// Variables
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #979797;
$footer-height: 202px;
$spacing-lg: 32px;
$spacing-xl: 40px;
$font-family: 'Helvetica Neue', sans-serif;
$font-size-nav: 18px;
$font-weight-thin: 100;
$transition-fast: 0.2s;

.footer {
  width: 100%;
  height: $footer-height;
  background-color: $color-white;
  border-top: 0.2px solid $color-gray;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: $spacing-lg;
}

.container {
  width: 100%;
  padding-left: 19px;
}

.links {
  width: 126px;
  height: 146px;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

.link {
  font-family: $font-family;
  font-size: $font-size-nav;
  font-weight: $font-weight-thin;
  color: $color-black;
  text-decoration: none;
  height: 22px;
  transition: opacity $transition-fast;
  cursor: default;

  &:hover {
    opacity: 0.7;
  }
}
