// Variables
$color-black: #000000;
$color-bg-light: #fafafa;
$font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
  Arial, sans-serif;

// Desktop styles
.desktop {
  width: 100vw;
  height: 530px;
  background-color: $color-bg-light;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

.textSection {
  width: 1440px;
  max-width: 100%;
  height: 449px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 147px;
  padding-top: 0;
  box-sizing: border-box;
  position: relative;
}

.title {
  margin: 0;
  font-family: $font-family;
  font-weight: 100;
  font-size: 30px;
  line-height: 1.2;
  text-align: left;
  color: $color-black;
  margin-bottom: 24px;
}

.description {
  width: 570px;
  height: 330px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2.14px;
  text-align: left;
  color: $color-black;
  margin-bottom: auto;
}

.iconsContainer {
  width: 376px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-top: auto;
}

.storeIcon {
  width: 180px;
  height: 52px;
  display: block;
  flex-shrink: 0;
}

.logoContainer {
  position: absolute;
  top: 174px;
  left: 1133px;
  width: 178.22085571289062px;
  height: 166px;
}

.logo {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

// Mobile styles
.mobile {
  width: 100%;
  height: 867px;
  background-color: $color-bg-light;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.mobile .logoContainer {
  width: 150px;
  height: 140px;
  padding: 16px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
}

.mobile .logo {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.mobile .iconsContainer {
  width: calc(100% - 32px);
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 180px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.mobile .storeIcon {
  width: 180px;
  height: 52px;
  display: block;
  flex-shrink: 0;
}

.mobile .title {
  width: calc(100% - 32px);
  font-family: $font-family;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  color: $color-black;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 60px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.mobile .description {
  width: 100%;
  max-width: 100%;
  flex: 1;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 2.14px;

  color: $color-black;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
