// Variables
$color-black: #000000;
$font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
  Arial, sans-serif;

// Desktop styles
.desktop {
  width: 1440px;
  height: 555px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  opacity: 1;
  box-sizing: border-box;
}

.title {
  margin: 0;
  width: 1440px;
  height: 35px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;
  opacity: 1;
  box-sizing: border-box;
}

.cardsContainer {
  width: 1185px;
  height: 405px;
  display: flex;
  gap: 24px;
  margin-left: 50px;
  opacity: 1;
  box-sizing: border-box;
}

.allRestaurantsLink {
  align-self: flex-end;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 2px;
  text-align: right;
  text-transform: capitalize;
  color: $color-black;
  cursor: default;
  opacity: 1;
}

// Mobile styles
.mobile {
  width: 100%;
  margin-top: 50px;
  padding: 0;
  opacity: 1;
  box-sizing: border-box;
}

.mobile .title {
  width: 326px;
  height: 24px;
  margin: 0 0 17px 20px;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  white-space: nowrap;
  color: $color-black;
  opacity: 1;
  box-sizing: border-box;
}

.mobile .cardsContainer {
  width: 100%;
  height: 232.80392456054688px;
  display: flex;
  gap: 24px;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  opacity: 1;
  box-sizing: border-box;
}
